body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ff3e3e;
}

main {
  background-color: rgb(30, 255, 0);
  width: 500px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 20px;
}

h1 {
  font-size: 32px;
}

#guess {
  font-size: 70px;
  margin: 30px;
}

button {
  padding: 15px 25px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}
